@import url('https://fonts.googleapis.com/css2?family=Palanquin&family=Roboto&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --color-a: #5C6981;
    --color-b: #8E9AAF;
    --color-c: #CBC0D3;
    --color-d: #FEEAFA;
    --color-e: #EFF1FF;

    /* Fonts */
    font-size: 62.5%;

    --font-size-a: 4rem;
    --font-size-b: 2rem;
    --font-size-c: 1.4rem;

    /* --font-size-a: clamp(4rem, 4rem + 1vw, 4rem + 2vw);
    --font-size-b: clamp(2rem, 2rem + 1vw, 2rem + 2vw);
    --font-size-c: clamp(1.4rem, 1.5rem + 1vw, 1.5rem + 2vw); */

    --font-type-a: 'Staatliches', cursive;
    --font-type-b: 'Palanquin', sans-serif;
}

body {
    max-width: 1280px;
    margin: auto;
}

header {
    background-color: var(--color-b);
    padding-top: 3.2rem ;
}

header #logo {
    height: 13.7rem;
    width: auto;
    display: block;
    margin: auto;
    text-align: center;
    filter: drop-shadow(0px 1rem 1px rgba(119, 119, 119, 0.5));
}

h1, h2 {
    font-family: var(--font-type-a);
    font-style: normal;
    font-weight: 400;
}

header h1 {
    background-color: var(--color-c);
    margin: 3rem auto;
    height: 5rem;
    font-size: var(--font-size-a)/* 40px */;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: var(--color-e);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-paige {
    width: 90vw;
    margin: 6.4rem auto 0;
}

#container-description {
    background-color: #FFFFFF;
    width: 100%;
    padding-top: 2.5rem;
}


p {
    margin: auto;
    text-align: center;
    font-family: var(--font-type-b);
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-c)/* 1.4rem */;
    line-height: var(--font-size-c)/* 1.5rem */;
    color: #23053A;
}

header  p.container-paige {
  margin: 0 auto;
}

#cards {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding-bottom: 5rem;
    animation: down-top .4s;
}

.card-photo {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;
    transition: all .4s;
}

/* .card-photo:hover {
    transform: scale(1.1);
} */

#cards .card-photo:nth-child(odd) {
    height: 25rem;
}

#cards .card-photo:nth-child(even) {
    height: 45rem;
}

.card-photo h2 {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    background-color: #CBC0D3;
    border-radius: 2rem;
    padding: 0 2.4rem;
    font-size: var(--font-size-b)/* 2rem */;
    line-height: 3.4rem;
    letter-spacing: 0.05rem;
    color: #4A4E69;
    animation: top-down 0.5s ease 0.4s backwards;
}

.card-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card-desktop {
    display: none;
}

footer {
    display: none;
}
    
@keyframes down-top {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
    
@keyframes top-down {
    0% {
        opacity: 0;
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 425px) {
    header #logo {
        height: 32vw;
    }

    header h1 {
        font-size: 8vw;
        line-height: 4vw;
        height: fit-content;
        padding: 2vw;
    }

    header p {
        font-size: 4vw;
        line-height: 4vw;
    }

    .card-photo h2 {
      
        padding: 0.8vw 6vw;
        font-size: 4.8vw;
    }
}

@media (min-width: 800px) {
    body {
        display: flex;
        min-height: 100vh;
    }

    header {
        width: 30%;
        max-width: 37.7rem;
    }
    
    header #logo {
        height: 16.7rem;
    }

    header h1 {
        font-size: 48px;
        height: fit-content;
        padding: 1rem;
        text-align: center;
        line-height: 4rem;
    }
    
    header #container-description, 
    header #container-description p{
        max-width: 100%;
        color: var(--color-e);
    }

    #container-description {
        background-color: transparent;
    }

    #container-description p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        padding: 0 10%;
    }
    
    #container-description p::after {
        content: 'pharetra est in, sagittis lorem.elit. Donec a rhoncus leo. Donec at scelerisque magna. Nullam vitae neque sit amet erat dignissim cursus ac ac lectus. Aliquam erat volutpat. Praesent at quam aliquet, pharetra est in, sagittis lorem.';
    }
    
    section.container-paige {
        max-width: 70%;
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    
    #cards{
        margin-top: 0;
        display: grid;
        grid-template-areas: 
        "A B"
        "D B"
        "D F";
        padding: 0;
    }
    
    #cards > div:nth-child(1){
        grid-area: A;
    }
    
    #cards > div:nth-child(2){
        grid-area: B;
    }
    
    #cards > div:nth-child(3){
        grid-area: F;
    }

    #cards > div:nth-child(4){
        grid-area: D;
    }

    #cards > div:nth-child(5){
        grid-area: C;
    }

    #cards > div:nth-child(6){
        grid-area: E;
    }
    
    #cards .card-photo:nth-child(odd) {
        height: 15rem;
    }
    
    #cards .card-photo:nth-child(even) {
        height: 35rem;
    }
    
    .card-photo:hover {
        transform: scale(1.1);
    }

    .card-photo h2 {
        display: none;
        padding: 0 2.4rem;
        font-size: var(--font-size-b)/* 2rem */;
        transition: all 0.4s;
    }

    .card-photo:hover h2 {
        display: block;
        animation: top-down 0.5s ease backwards; 
    }

    footer {
        display: block;
    }
    
}

@media (min-width: 1100px) {
    
    #container-description p {
        padding: 0 5.4rem;
    }
    section.container-paige {
        padding: 0 9rem;
	    margin: 6.4rem auto 0;

    }
    .card-desktop {
        display: block;
    }
    
    #cards{
        grid-template-areas: 
        "A B C"
        "D B E"
        "D F E";
    }
    
}